.pageContainer {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75vh;
    justify-content: center;
}

.error {
    color: #BC5D2F;
}

/* Image Section */
.imageWrapper {
    height: 75vh;
    width: 75vh;
    margin-top: -2rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.imagePlaceholder {
    background: #eee;
    width: 100%;
    height: 150px;
}

/* ProductDesc */
.descContainer {
    height: 68vh;
    padding: 2vh 0;
    margin-bottom: 6vh;
    border-right: 1.5px solid #2e2e3a;
    width: 25vw;
}

.brand {
    font-size: 8vh;
    text-transform: uppercase;
    margin: 0;
}

.name {
    font-size: 5vh;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 5px;
}

.variants {
    display: flex;
    flex-wrap: wrap;
    gap: 10px ;
    margin-top: 40px;
    max-height: 15vh;
}

.variantBtn {
    font-size: 3vh;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    color: #2e2e3a;
    margin: 0;
}

.variantBtn.active {
    background-color: #2e2e3a;
    color: #fff;
}

.price {
    font-size: 6vh;
    margin: 5px 0 10vh 0;
}

.addToCartBtn {
    font-family: 'Montserrat',serif;
    font-weight: 600;
    font-size: 1.2vw;
    background-color: #2E2E3A;
    color: #FFFFFf;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: pointer;
}

button.addToCartBtn.disabled {

    background-color: rgba(153, 153, 153, 0.71);
    color: rgba(102, 102, 102, 0.73);
    cursor: not-allowed;
}

/* ProductDetails */
.detailsContainer {
    height: 65vh;
    margin-bottom: 6vh;
    width: 25vw;
}

.detailsHeader {
    font-size: 5vh;
    text-transform: uppercase;
    margin: 0;
}

.line {
    background-color: #2e2e3a;
    height: 1px;
    margin-top: 10px;
}

.subHeader {
    font-size: 3vh;
    margin-top: 5vh;
}

.description {
    font-family: 'Montserrat',serif;
    font-weight: 400;
    color: #2E2E3A;
    font-size: 1.2vw;
    height: 17vh;
    overflow-y: auto;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    max-width: 30vw;
    overflow-x: auto;
    padding-bottom: 5px;
    max-height: 16.5vh;

}


.note {
    font-size: 1.2vw;
    text-transform: capitalize;
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid #2e2e3a;
}
